/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&family=Nunito:wght@200&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&family=Mali&display=swap');


:root {
    --lighterColor: #F0F0F0;
    --lightColor: #F9D949;
    --darkColor: #F45050;
    --darkerColor: #3C486B;
}

body {
    font-family: Mali, Arial;
    /* background-color: rgba(247, 250, 253, 0.3); */
    background-color: var(--lighterColor);
    color: var(--darkerColor);
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-align: center;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}



hr {
    color: gray;
    width: 60%;
}

header {
    width: 100%;
    /* background-color: rgb(233, 241, 241); */
    background-color: var(--darkerColor);
    /* border-top: .2em solid red;
    border-bottom: .2em solid red; */
    border-top: .2em solid var(--darkColor);
    border-bottom: .2em solid var(--darkColor);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 1em;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    top: 0;
}

#nav-bar {
    width: 100vw;
    height: auto;
}

#nav-bar a {
    color: var(--lightColor);
}

#logo {
    float: left;
    margin-left: 2em;
    color: var(--lightColor);
}

/* .icon {
    margin-right: 2em;
    float: right;
} */

#hamburger {
    margin-right: 1em;
    float: right;
    color: var(--lightColor);
}

.fixed a {
    float: right;
    ;
}

#content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5em;
}

#myLinks a {
    margin: .6em .6em;
}

a {
    text-decoration: none;
    /* color: rgb(47, 43, 43); */
    color: var(--darkerColor);
}

a:hover {
    font-weight: bold;
    /* color: red; */
}

h1 {
    /* display: flex; */
    margin-top: 2em;
    /* line-height: 1.5em;
    letter-spacing: 0.1 em; */
    /* margin-left: auto;
    margin-right: auto; */
}

h2 {
    margin: 1em;
    text-align: center;
    line-height: 1.5em;
}

h3 {
    text-align: center;
}

#logo-img {
    width: 30%;
    margin: 2em;
}

#dummyLink {
    margin: 0;
    padding: 0;
}

/* #aboutLink {

} */

#video {
    margin: 1em;
}

#form {
    margin: 1em;
    text-align: center;
}

p {
    text-align: justify;
}

#probna_slika img {
    align-items: center;
    width: 96%;
}

#to_content {
    /* text-align: center; */
}

#to_content ul {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

#to_content li {
    /* width: 4.5em; */
    list-style: none;
    margin: .7em;
    /* list-style-type: none; */
    float: left;
}

#to_content a {
    display: inline-block;
    /* margin: .5em; */
    font-size: larger;
    /* left: 4em; */
}

.content_link a {
    margin: .5em;
    /* font-size: larger;
    display: inline-block; */
}

/*_____________sadržaji__________________________*/

.sliko_container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.preview_container {}

.preview_slikoprice img {
    width: 60px;
}

#dummydiv {
    height: 20em;
}

.preview_slikoprice {
    width: 60px;
}

#biografija {
    width: 95%;
    margin-bottom: 8em;
    margin-left: auto;
    margin-right: auto;
}


/* #meni_o_meni {
    font-size: 24px;

    display: flex;
    flex-direction: column;
    margin: 2em auto 2em;
}

#meni_o_meni a {
    margin: 1em;
} */

#bio_foto img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

#moja_slikoprica {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
    margin-top: .5em;
    text-align: center;
}

#moja_slikoprica img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#objavljena_djela h1 {
    margin-bottom: 1em;
}

.djelo_container {
    display: flex;
    flex-direction: column;
}
.djelo_container h2,h3,h4,p {
margin: .5em;
}

.djelo_naslovnica img {
    width: 50vw;
    margin-top: .5em;
    margin-bottom: .5em;
}
#siskabaliska {
    width: 40%;
}

figure {
    margin: 2em auto 2em;
}

figure img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(55, 50, 99, 0.3);

}

#holder {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}

#holder img {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
}

.slike_druge {
    display: none;
}

#radio_djela ul {
    padding: 0;
    margin-bottom: 4em;
}

#radio_djela li {
    list-style-type: none;
    font-size: larger;
    margin: 0.6em;
}

#logo_skolska {
    width: 70%;
}

#logo_hrt {
    width: 60%;
}
.partner_logo   {
    border:solid 2px rgba(144, 159, 172, 0.989);
    border-radius: 10px;
    /* box-shadow:  inset 5px 0 -8px -10px rgba(241, 241, 244, 0.939) ; */

}

.news_container {
    margin-top: 2em;
    width: 70vw;
    padding: 2em;
    border: solid 1px grey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    background-color: var(--lightColor);
}

/* -------------------------------------------------- */
/* ----------mobitel----------------------- */
/* ------------------------------------------------- */


@media only screen and (max-width: 800px) {

    body {
        font-size: 16px;
    }

    /* header {
        max-height: 15em;
    }

    #navbar {
        max-height: 13em;
    } */

    #myLinks {
        display: none;
        width: 100vw;
        padding: .5em;
        position: relative;
        top: 1.5em;
        /* left: -1em; */
        /* background-color: rgb(207, 235, 235);  */
    }

    #myLinks a {
        display: block;
        width: 9em;
        text-align: left;
        margin: .3em;
        margin-left: 1.5em;
    }

    h1 {
        font-size: 26px;
        font-weight: 900;
    }

    #content {
        width: 95%;
        /* margin-top: 1vh; */
    }

    iframe {
        width: 80vw;
    }

    #na_sadrzaje ul {
        /* list-style-type: none; */
        display: block;
    }

    #na_sadrzaje li {
        text-align: center;
    }

    #na_sadrzaje a {}

    #about {
        width: 90%;
    }

    #aboutLink a {
        text-align: left;
        left: -10em;
        justify-content: left;
        width: 6em;
        /* margin-left: 0.6em, 0; */
    }

    #to_content h4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /* #to_content li {
        background-color: var(--lightColor);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    } */

    #to_content a {
        display: block;
        margin: .5em;
        font-weight: 400;
        margin-left: 8em;
        margin-right: 8em;
        font-size: 22px;
        padding: .1em 1em;
        background-color: var(--lightColor);
        border: solid 1px var(--darkerColor);
        border-radius: 5px;
        box-shadow: 1px 1px 1px;
    }

    #logo a {
        float: left;
        margin-left: 2em;
    }

    .icon {
        margin-right: 3em;
        float: right;
    }

    /*_____________sadržaji__________________________*/

    #holder {
        display: none;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20em;
    }

    #holder img {
        width: 98vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    .slike_druge {
        display: none;
    }

    .sliko_container {
        display: flex;
        justify-content: space-around;
    }

    .sliko_container img {
        width: 60px;
    }

    #meni_o_meni {
        font-size: 20px;
        margin: 4em;
        display: flex;
        flex-direction: column;
    }

    #meni_o_meni a {
        margin: 1em;
    }

    #moja_slikoprica {
        margin: 0;
    }

    #moja_slikoprica img {
        width: 100vw;
        margin: 0;
    }

    #bio_foto img {
        width: 70vw;
    }

    #biografija {
        width: 90vw;
        margin-bottom: 8em;
        margin-left: auto;
        margin-right: auto;
    }

    .djelo_container {
        width: 90vw;
        margin: 2em 0 2em 0;
    }

    .djelo_naslovnica img {
        width: 70vw;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .djelo_container h2,h3,h4,p {
        margin: .5em;
        }
        
        
    #siskabaliska {
            width: 40%;
        }

    figure {
        margin: 2em auto 2em;
    }

    figure img {
        width: 80vw;
    }

    .naziv_slikoprice h3 {
        width: 10em;
    }

    #logo_sk {
        width: 70vw;
    }

    #logo_hrt {
        width: 60vw;
    }

    .news_container {
        margin-top: 2em;
        width: 70vw;
        padding: 2em;
        border: solid 1px grey;
        border-radius: 5px;
        box-shadow: 5px 5px 5px;
    }
}


/*__________veliki ekrani____________*/


@media only screen and (min-width: 1000px) {
    #hamburger {
        display: none;
    }

}