/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&family=Nunito:wght@200&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&family=Mali&display=swap');


:root {
    --lighterColor: #F0F0F0;
    --lightColor: #F9D949;
    --darkColor: #F45050;
    --darkerColor: #3C486B;
}

body {
    font-family: Mali, Arial;
    background-color: var(--lighterColor);
    color: var(--darkerColor);
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-align: center;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: gray;
    width: 50%;
}

header {
    width: 100%;
    background-color: var(--darkerColor);
    border-top: .2em solid var(--darkColor);
    border-bottom: .2em solid var(--darkColor);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: .5em;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    top: 0;
}

#nav-bar {
    width: 100vw;
    height: auto;
}


#nav-bar a {
    color: var(--lightColor);
}

#logo {
    float: left;
    margin-left: 2em;
    color: var(--lightColor);
    margin-top: auto;
    margin-bottom: auto;
}
#header_logo {
    width: 60px;
    transform: translateY(10%);
}

/* .icon {
    margin-right: 2em;
    float: right;
} */

#hamburger {
    margin-right: 1em;
    float: right;
    color: var(--lightColor);
    height: 100%;
    display: none;
}

.fixed a {
    float: right;
    
}

#content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5em;
}

#myLinks {
    /* top: 50%; */
    transform: translateY(50%);
}

#myLinks a {
    margin: .6em .6em;
}

a {
    text-decoration: none;
    color: var(--darkerColor);
}

/* a:hover {
    font-weight: bold;
} */

h1 {
    margin-top: 1em;
    /* line-height: 1.5em;
    letter-spacing: 0.1 em; */
    /* margin-left: auto;
    margin-right: auto; */
}

h2 {
    margin: .6em;
    text-align: center;
    line-height: 1.5em;
}
#svijet {
    margin-bottom: 2em;
}

h3 {
    text-align: center;
}
h4 {
    margin: .3em;
}

#logo-img {
    width: 40%;
    margin: .3em;
}

#dummyLink {
    margin: 0;
    padding: 0;
}

/* #aboutLink {

} */

#video {
    margin: 1em;
}

#form {
    margin: 1em;
    text-align: center;
}

p {
    text-align: justify;
}

#probna_slika img {
    align-items: center;
    width: 96%;
}

#to_content ul {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

#to_content li {
    list-style: none;
    margin: .7em;
    float: left;
}

#to_content a {
    display: inline-block;
    font-size: larger;
}

.content_link a {
    margin: .5em;
}

/*_____________sadržaji__________________________*/
#holder {
    width: 100%;
}

.sliko_container {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.naziv_slikoprice {
   width: 40%;
}
/* .preview_container {
    width: 20%;
} */



.preview_slikoprice img {
    width: 60px;
}


#dummydiv {
    height: 20em;
}

.preview_slikoprice {
    width: 60px;
}

#biografija {
    width: 95%;
    margin-bottom: 8em;
    margin-left: auto;
    margin-right: auto;
}

#biografija h2 {
    margin-bottom: 2em;
}


/* #meni_o_meni {
    font-size: 24px;

    display: flex;
    flex-direction: column;
    margin: 2em auto 2em;
}

#meni_o_meni a {
    margin: 1em;
} */

#bio_foto img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

#moja_slikoprica {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
    margin-top: .5em;
    text-align: center;
}

#moja_slikoprica img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#objavljena_djela h1 {
    margin-bottom: 1em;
}

.djelo_container {
    display: flex;
    flex-direction: column;
}
.djelo_container h2,h3,h4,p {
margin: .5em;
}

.djelo_naslovnica img {
    width: 40vw;
    margin-top: .5em;
    margin-bottom: .5em;
}
#siskabaliska {
    width: 40%;
}

figure {
    margin: 2em auto 2em;
}

figure img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(55, 50, 99, 0.3);

}

#holder {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}

#holder img {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
}

.slike_druge {
    display: none;
}

#radio_djela ul {
    padding: 0;
    margin-bottom: 4em;
}

#radio_djela li {
    list-style-type: none;
    font-size: larger;
    margin: .6em;
}



#logo_skolska {
    width: 60%;
}
#logo_smib {
    width: 40%;
}
#logo_lasta {
    width: 33%;
}

#logo_hrt {
    width: 50%;
}

#logo_glazbaonica {
    width:33%;
}
#logo_dhk {
    width: 30%;
}

#logo_zarPtica {
    width:50%;
}

#logo_arka {
    width: 30%;
    border: none;
}
.partner_logo   {
    border:solid 2px rgba(144, 159, 172, 0.989);
    border-radius: 10px;
    /* box-shadow:  inset 5px 0 -8px -10px rgba(241, 241, 244, 0.939) ; */
    margin: 1em 1em 2em 1em;

}
.partner_container hr {
    margin-top: 2em;
    margin-bottom: 2em;
    width:80%;
}

.news_container {
    margin-top: 2em;
    width: 50vw;
    padding: 2em;
    border: solid 1px grey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    background-color: var(--lightColor);
}

/* -------------------------------------------------- */
/* ----------mobitel----------------------- */
/* ------------------------------------------------- */


@media only screen and (max-width: 900px) {

    body {
        font-size: 16px;
    }

    #myLinks {
        display: none;
        width: 100vw;
        padding: .5em;
        position: relative;
        top: .5em;
        transform: translateY(0%);
    }

    #myLinks a {
        display: block;
        width: 9em;
        text-align: left;
        margin: .3em;
        margin-left: 1.5em;
    }

    .fa-bars {
        transform: translateY(-50%);
        transform: translateX(1.5em);
    }
   
    /* .fa-bars ::before{
        width: 32px;
        transform: translateY(50%);
        transform: translateX(1.5em);
    } */

    hr {
        width: 60%;
    }

    h1 {
        font-size: 26px;
        font-weight: 900;
    }
    h2, h3, h4, h5 {
        line-height: 1.5em;
    }

    #content {
        width: 95%;
        /* margin-top: 1vh; */
    }

    iframe {
        width: 80vw;
    }

    #na_sadrzaje ul {
        /* list-style-type: none; */
        display: block;
    }

    #na_sadrzaje li {
        text-align: center;
    }

    #header_logo {
        width: 30px;
    }

    #hamburger {
        display: block;
        margin-top: .5em;
    }

    #about {
        width: 90%;
    }

    #aboutLink a {
        text-align: left;
        left: -10em;
        justify-content: left;
        width: 6em;
        /* margin-left: 0.6em, 0; */
    }

    #to_content h4 {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    /* #to_content li {
        background-color: var(--lightColor);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    } */

    #to_content a {
        display: block;
        margin: .5em;
        font-weight: 400;
        margin-left: 8em;
        margin-right: 8em;
        font-size: 22px;
        padding: .1em 1em;
        background-color: var(--lightColor);
        border: solid 1px var(--darkerColor);
        border-radius: 5px;
        box-shadow: 1px 1px 1px;
    }

    #logo a {
        float: left;
        margin-left: 2em;
    }

    .icon {
        margin-right: 3em;
        float: right;
    }

    /*_____________sadržaji__________________________*/

    #holder {
        display: none;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20em;
    }

    #holder img {
        width: 98vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    .naziv_slikoprice {
        width: auto;
     }
     .preview_container {
         width: auto;
     }
    .slike_druge {
        display: none;
    }

    .sliko_container {
        display: flex;
        justify-content: space-around;
    }

    .sliko_container img {
        width: 60px;
    }

    #meni_o_meni {
        font-size: 20px;
        margin: 4em;
        display: flex;
        flex-direction: column;
    }

    #meni_o_meni a {
        margin: 1em;
    }

    #moja_slikoprica {
        margin: 0;
    }

    #moja_slikoprica img {
        width: 100vw;
        margin: 0;
    }

    #bio_foto img {
        width: 70vw;
        margin-top: 4em;
        margin-bottom: 3em;
    }

    #biografija {
        width: 90vw;
        margin-bottom: 4em;
        margin-left: auto;
        margin-right: auto;
    }

    .djelo_container {
        width: 90vw;
        margin: 2em 0 2em 0;
    }

    .djelo_naslov {
        
    }

    .djelo_naslovnica img {
        width: 70vw;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .djelo_container h2, h3, h4, p {
        margin: .5em;
        line-height: 1.5em;
        }
        
        
    #siskabaliska {
            width: 40vw;
        }

    figure {
        margin: 2em auto 2em;
    }

    figure img {
        width: 80vw;
    }

    .naziv_slikoprice h3 {
        width: 10em;
    }

    .partner_container hr {
        margin-top: 1em;
        margin-bottom: 1em;
        width:70%;
    }
    
       
       #logo_skolska {
           width: 70%;
       }
       #logo_smib {
           width: 50%;
       }
       #logo_lasta {
           width: 33%;
       }
       
       #logo_hrt {
           width: 50%;
       }
       
       #logo_glazbaonica {
           width:45%;
       }
       #logo_dhk {
           width: 40%;
       }
       
       #logo_zarPtica {
           width:65%;
       }
       
       #logo_arka {
           width: 40%;
           border: none;
       }
       .partner_logo   {
           border:solid 2px rgba(144, 159, 172, 0.989);
           border-radius: 10px;
           /* box-shadow:  inset 5px 0 -8px -10px rgba(241, 241, 244, 0.939) ; */
           margin: 1em 1em 2em 1em;
       
       }

    #logo_sk {
        width: 70vw;
    }

    #logo_hrt {
        width: 60vw;
    }

    .news_container {
        margin-top: 2em;
        width: 70vw;
        padding: 2em;
        border: solid 1px grey;
        border-radius: 5px;
        box-shadow: 5px 5px 5px;
    }
}


/*__________veliki ekrani____________*/


@media only screen and (min-width: 900px) {
    #hamburger {
        display: none;
    }

}