
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    font-family: Nunito, Verdana, sans-serif;
    background-color: rgba(247, 250, 253, 0.3);
    color:rgb(33, 31, 31);
    margin: 0;
    padding: 0;  
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
}
hr {
    color: gray;
    width: 60%;  
}
#content {
    width:70%;
    position: relative;
    top:80px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    top:0;
    background-color: rgba(233, 241, 241,1);
    border-bottom: 7px solid red;
    display: flex;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
}
a {
    text-decoration: none;
    margin: 1em;
    color:rgb(47, 43, 43);
}
a:hover {
    font-weight: bold;
}
h1 {
    margin: 2em;  
}
h2 {
    margin: 2em;
    text-align: center;
}
h3 {
    text-align: center;
}
#video {
    margin: 1em;
}
#form {
    margin: 1em;
    text-align: center;
}

p {
    text-align: justify;
}


@media only screen and (max-width: 900px) {
    h1 {
        margin: 1em;
    }
    #content {
        width: 90%;
    }
}